.balloons {
  position: absolute;
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloonOne {
  background-color: rgba(239, 71, 111, 0.7);
  left: -10px;
  top: 50px;
}

.balloonTwo {
  background-color: rgba(6, 214, 160, 0.7);
  left: 50px;
  top: 20px;
}

.balloonThree {
  background-color: rgba(255, 209, 102, 0.7);
  left: 110px;
  top: 50px;
}

.balloonFour {
  background-color: rgba(17, 138, 178, 0.7);
  left: 170px;
  top: 20px;
}
