body {
  background-color: #073b4c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
  background-color: white; /* Background color for the card */
  border-radius: 15px; /* Adding border radius */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.cardFront {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
  transition: .6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  transition: .1s;
}

.balloons {
  position: absolute;
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloonOne {
  background-color: rgba(239, 71, 111, 0.7);
  left: -10px;
  top: 50px;
}

.balloonTwo {
  background-color: rgba(255, 221, 51, 0.7); /* Yellow color */
  left: 50px;
  top: 20px;
}

.balloonThree {
  background-color: rgba(255, 165, 0, 0.7); /* Orange color */
  left: 110px;
  top: 50px;
}

.balloonFour {
  background-color: rgba(50, 205, 50, 0.7); /* Green color */
  left: 170px;
  top: 20px;
}

.cardInside {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: cursive;
  margin: 15px 10px 10px 30px;
  color: #333;
}

.name {
  position: absolute;
  left: 150px;
  /* top: 200px; */
  color: #333;
  text-decoration: underline;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dashed;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

@keyframes blink {
  0% {
    color: white;
  }
  20% {
    color: yellow;
  }
  40% {
    color: greenyellow;
  }
  60% {
    color: red;
  }
  80% {
    color: hotpink;
  }
  100% {
    color: blue;
  }
}

footer {
  font-size: 10px;
  color: white;
  position: absolute;
  bottom: 0px;
}

footer a {
  color: white;
}
